<h1><%= @pet.name %> was found : </h1>
<h2><%= @pet.species %></h2>

<%= link_to pet_path(@pet),
            method: :delete,
            class: 'btn btn-danger btn-xs',
            data: { confirm: 'Are you sure ?'} do %>

  <i class="fas fa-trash-alt"></i>

<% end %>


<p>at <%= @pet.address %> - <%= time_ago_in_words(@pet.found_on) %> ago</p>


<%= link_to 'Back', pets_path, class: 'btn btn-secondary' %>

<%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-warning' %>
